---
import { ColoringImage } from '../ColoringImage';
---

<div
  class='px-responsive container flex flex-col gap-y-6 px-4 py-12 md:px-0 md:py-20'
>
  <h3
    class='md:leading-0 items-center font-sansita text-4xl font-bold leading-10'
  >
    <span>Use</span>
    <img
      src='/icon-magic-wand.png'
      alt='icon-magic-wand'
      class='inline-block h-auto w-[28px] md:w-[32px]'
    />
    <span>to generate Kids coloring pages in seconds</span>
  </h3>
  <p class='text-xl text-[#545454]'>
    Unleash your imagination! KidsColoringPage turns your ideas into coloring
    pages for your kids to color. From dinosaurs to fairies, let's bring their
    creativity to life!
  </p>
  <p class='text-base font-light text-[#545454]'>
    <span class='font-semibold'>Not sure what to try?</span> Some example prompts
    with images are below. The best images incorporate one subject, a setting, and
    a style. For example: Alebrije turtle at the beach.
  </p>
  <div class='max-auto'>
    <div class='grid grid-cols-2 gap-4 md:grid-cols-4'>
      <ColoringImage
        client:load
        src='https://kidscoloringpage.s3.eu-west-1.amazonaws.com/4c6zxndb2k2pu6italbzt6yevq-nwm.png'
        title='Friendly Santa Claus'
        alt='Friendly Santa Claus'
        downloaded='5,210'
      />
      <ColoringImage
        client:load
        src='https://kidscoloringpage.s3.eu-west-1.amazonaws.com/zkk2pelbjqaa7ngngkkj5udrbi.png'
        title='Titanosaur'
        alt='Titanosaur'
        downloaded='1,210'
      />
      <ColoringImage
        client:load
        src='https://kidscoloringpage.s3.eu-west-1.amazonaws.com/222vl6dbbd6u4hf5rooc2yw67q.png'
        title='Goku Fighting'
        alt='Goku Fighting'
        downloaded='9,830'
      />
      <ColoringImage
        client:load
        src='https://kidscoloringpage.s3.eu-west-1.amazonaws.com/cjmd4ztbpqs6pxhrbxcrdnsfki.png'
        title='Fruits'
        alt='Fruits'
        downloaded='3,670'
      />
    </div>
  </div>
</div>
