---
import GuestLayout from "../layouts/GuestLayout.astro";
---
<GuestLayout>
    <div class="container py-8 md:py-12 px-4 md:px-0 px-responsive">
        <p class="font-bold font-sansita text-4xl mb-5">Free Printable Coloring Pages</p>
        <p class="text-xl text-[#545454] mb-8 font-light">Whether you're a kid looking for some weekend fun, a stressed adult looking for a creative outlet, or a teacher seeking interesting education tools, we have a variety of coloring pages ready for you. Dive into a wide selection of themes from animals, cartoon characters, holidays, seasons, and much more. You're only a click away from stepping into a world of color.</p>

        <div class="max-auto">
            <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/aladdin.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="aladdin" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">aladdin</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/anime.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="anime" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">anime</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/anime2.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="anime" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">anime</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Baby.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Baby" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Baby</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Baby yoda.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Baby yoda" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Baby yoda</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Barbie.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Barbie" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Barbie</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/batman.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="batman" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">batman</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/bear.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="bear" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">bear</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/butterfly.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="butterfly" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">butterfly</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/captain america.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="captain america" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">captain america</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/castle.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="castle" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">castle</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Cat.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Cat" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Cat</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Charmander.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Charmander" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Charmander</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/chicken.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="chicken" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">chicken</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/christmas tree outside covered in snow.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="christmas tree outside covered in snow" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">christmas tree outside covered in snow</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/cozzy fire place.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="cozzy fire place" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">cozzy fire place</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/dinosaurs.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="dinosaurs" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">dinosaurs</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Dog.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Dog" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Dog</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Dolphin Surfing the waves.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Dolphin Surfing the waves" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Dolphin Surfing the waves</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/elephant.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="elephant" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">elephant</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Elsa.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Elsa" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Elsa</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Elsa and anna.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Elsa and anna" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Elsa and anna</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Elsa At Arendelle Castle.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Elsa At Arendelle Castle" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Elsa At Arendelle Castle</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Elsa in enchanted forest.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Elsa in enchanted forest" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Elsa in enchanted forest</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/falmingo.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="falmingo" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">falmingo</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/falmingo standing in the water.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="falmingo standing in the water" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">falmingo standing in the water</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/godzilla.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="godzilla" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">godzilla</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Hello kitty.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Hello kitty" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Hello kitty</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/icecream.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="icecream" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">icecream</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/iron man.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="iron man" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">iron man</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/iron man2.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="iron man" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">iron man</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/man in space.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="man in space" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">man in space</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Mickey mouse.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Mickey mouse" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Mickey mouse</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/mickey mouse 2.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="mickey mouse" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">mickey mouse</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/minion.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="minion" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">minion</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/minion2.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="minion" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">minion</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/monkey.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="monkey" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">monkey</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/monster.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="monster" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">monster</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/mushroom.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="mushroom" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">mushroom</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Ninja.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Ninja" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Ninja</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/olaf.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="olaf" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">olaf</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/peppa pig.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="peppa pig" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">peppa pig</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/santa claus.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="santa claus" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">santa claus</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/santa claus with a present.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="santa claus with a present" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">santa claus with a present</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/santa reindeer.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="santa reindeer" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">santa reindeer</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/scooby dooby doo.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="scooby dooby doo" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">scooby dooby doo</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/scooby dooby doo2.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="scooby dooby doo" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">scooby dooby doo</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/super sonic.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="super sonic" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">super sonic</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/thor.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="thor" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">thor</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/turtle.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="turtle" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">turtle</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Twelve Excited Stars Watching A Star Circus.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Twelve Excited Stars Watching A Star Circus" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Twelve Excited Stars Watching A Star Circus</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Twinkling Star At A Pond.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Twinkling Star At A Pond" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Twinkling Star At A Pond</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/warrior.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="warrior" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">warrior</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] justify-between">
                    <img src="/color-pages/Winnie-the-Pooh.png" class="w-fit bg-cover color-page-img" loading="lazy" alt="Winnie-the-Pooh" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="capitalize font-sansita font-bold">Winnie-the-Pooh</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug download-color-page">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</GuestLayout>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const downloadButtons = document.querySelectorAll('.download-color-page');
        downloadButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                const container = this.closest('.flex.flex-col.border');
                const imgSrc = container.querySelector('.color-page-img').src;

                const a = document.createElement('a');
                a.href = imgSrc;
                a.download = imgSrc.split('/').pop();
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });
    });
</script>