---
import Rating from "../components/Rating.astro";
import {Faqs} from "../components/Faqs";
import GuestLayout from "../layouts/GuestLayout.astro";
import {ColoringImage} from "../components/ColoringImage";
---

<GuestLayout>
    <div slot="after-menu"
         class="container flex flex-col md:flex-row justify-center md:justify-between items-center md:items-end relative z-20 md:!mt-6 px-4 md:px-0 px-responsive">
        <div class="flex flex-col gap-y-5 mb-12 md:mb-16">
            <p class="font-sansita text-3xl sm:text-4xl md:text-6xl flex flex-row items-center gap-x-3">Introducing AI <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[52px] h-auto" /></p>
            <p class="font-wonderbar text-3xl sm:text-4xl md:text-6xl lg:text-6xl xl:text-6xl">
                <span class="text-[#6A7DF6]">Kids</span>
                <span class="text-[#347C44]">Coloring</span>
                <span class="text-[#EF60B7]">Page</span>
            </p>
            <p class="font-light text-xl md:text-2xl md:w-3/5">Unlock Your Child's Imagination: KidsColoringPage Allows Parents to Inspire and Let Their Kids Color Anything They Imagine.</p>
            <a href="" class="button flex flex-row w-fit items-center gap-x-4">
                Start using for free
                <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-auto mt-[4px]" />
            </a>
        </div>
        <img src="/girl-painting.png" alt="girl-painting" class="w-full md:w-2/4 mx-auto md:absolute md:right-0 md:-z-10" />
    </div>
    <div class="container flex flex-col gap-y-6 py-12 md:py-20 px-4 md:px-0 px-responsive">
        <p class="font-sansita font-bold text-4xl items-center leading-10 md:leading-0">
            <span>Use AI</span>
            <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[28px] md:w-[32px] h-auto inline-block" />
            <span>to generate Kids coloring pages in seconds</span>
        </p>
        <p class="text-xl text-[#545454]">Unleash your imagination! KidsColoringPage turns your ideas into coloring pages for your kids to color. From dinosaurs to fairies, let's bring their creativity to life!</p>
        <p class="text-[#545454] font-light text-base"><span class="font-semibold">Not sure what to try?</span> Some example prompts with images are below. The best images incorporate one subject, a setting, and a style. For example: Alebrije turtle at the beach.</p>
        <div class="max-auto">
            <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
                <ColoringImage client:load src="/color-pages/Elsa and anna.png" title="Elsa and anna" alt="Elsa and anna" downloaded="5,210" />
                <ColoringImage client:load src="/color-pages/Winnie-the-Pooh.png" title="Winnie-the-Pooh" alt="Winnie-the-Pooh" downloaded="1,210" />
                <ColoringImage client:load src="/color-pages/dino holding a sword.png" title="dino holding a sword" alt="dino holding a sword" downloaded="9,830" />
                <ColoringImage client:load src="/color-pages/scooby dooby doo2.png" title="scooby dooby doo" alt="scooby dooby doo" downloaded="3,670" />
            </div>
        </div>
    </div>
    <div class="bg-[#F36A3B]">
        <div class="container flex flex-col md:flex-row justify-between gap-y-6 md:gap-y-0 md:gap-x-28 py-10 items-center px-4 md:px-0 px-responsive">
            <div class="flex flex-col md:flex-row flex-1 justify-between gap-y-4 md:gap-y-0 text-center md:text-left">
                <div class="flex flex-col gap-y-2 font-sansita">
                    <p class="font-bold text-5xl text-white flex flex-row gap-x-3 justify-center md:justify-start">
                        <span>#1</span>
                        <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[45px] h-auto" />
                    </p>
                    <p class="text-xl text-[#EBEBEB] font-light">AI coloring page generator</p>
                </div>
                <div class="flex flex-col gap-y-2 font-sansita">
                    <p class="font-bold text-5xl text-white">580,000+</p>
                    <p class="text-xl text-[#EBEBEB] font-light">Coloring sheets created!</p>
                </div>
                <div class="flex flex-col gap-y-2 font-sansita">
                    <p class="font-bold text-5xl text-white">5,000+</p>
                    <p class="text-xl text-[#EBEBEB] font-light">Parents using for their kids</p>
                </div>
            </div>
            <a href="" class="button-2 hidden-responsive">Start using for free</a>
        </div>
    </div>
    <div class="container py-12 md:py-20 px-4 md:px-0 px-responsive">
        <p class="font-bold font-sansita text-4xl mb-8">How it works</p>
        <div class="max-auto">
            <div class="flex flex-row gap-x-6 gap-y-6 flex-wrap justify-evenly">
                <div class="flex flex-col gap-y-5 items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">01</div>
                        <img src="/icon-user.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Create an account for free</p>
                </div>
                <div class="flex flex-col gap-y-5 items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">02</div>
                        <img src="/icon-creativity.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Enter your prompt into the text box</p>
                </div>
                <div class="flex flex-col gap-y-5 items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">03</div>
                        <img src="/icon-magic-wand.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Generate your coloring page</p>
                </div>
                <div class="flex flex-col gap-y-5 items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">04</div>
                        <img src="/icon-download.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Download to save coloring page & print it</p>
                </div>
                <div class="flex flex-col gap-y-5 items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">05</div>
                        <div class="w-[55px] md:w-[110px] h-fit flex flex-col items-center justify-center">
                            <span class="font-sansita text-[#FFCA28] text-4xl md:text-7xl font-black">5</span>
                            <span class="font-sansita text-black uppercase text-2xl md:text-5xl">Free</span>
                        </div>
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Create up to 5 images for free, then upgrade!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#FFF2DF]" id="pricing">
        <div class="container py-12 md:py-20 px-4 md:px-0 px-responsive">
            <p class="font-bold font-sansita text-4xl mb-5">Pricing Plans</p>
            <p class="text-xl text-[#545454] mb-8 font-light">Pick the plan that works for your baby!</p>
            <div class="max-auto">
                <div class="md:grid md:gap-x-3 md:grid-cols-3 flex flex-col gap-y-4 md:gap-y-0">
                    <div class="flex flex-col border border-black rounded-2xl py-6 px-6 relative bg-white">
                        <p class="mb-3.5"><span class="font-black text-4xl">$5</span> <span class="font-semibold">/ 10 images</span></p>
                        <p class="font-semibold mb-3">Pay as you go</p>
                        <p class="font-light text-[#545454] mb-6">1 Credit for every page you generate</p>
                        <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                        <div class="flex flex-col gap-y-4 mb-6">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Create, save, download and print mages</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Dashboard for viewing all your images</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Buy as you need</p>
                            </div>
                        </div>
                        <a href="" class="button flex flex-row items-center gap-x-2 mb-5">
                            <span class="flex-1 text-center">Buy one time</span>
                            <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-auto mt-[4px]" />
                        </a>
                        <div class="flex flex-row gap-x-2 items-center">
                            <img src="/icon-shield.png" alt="icon-shield" class="w-[24px] h-auto" />
                            <p class="text-xs font-medium text-[#545454]">Risk free: 2 Days Money Back Guarantee</p>
                        </div>
                    </div>
                    <div class="flex flex-col border border-black rounded-2xl py-6 px-6 relative bg-white">
                        <p class="mb-3.5 font-black text-4xl">$7.99</p>
                        <p class="font-semibold mb-3">Monthly</p>
                        <p class="font-light text-[#545454] mb-6">Unlimited color pages, billed monthly</p>
                        <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                        <div class="flex flex-col gap-y-4 mb-6">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Create, save, download and print mages</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Dashboard for viewing all your images</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Renews monthly</p>
                            </div>
                        </div>
                        <a href="" class="button flex flex-row items-center gap-x-4 mb-5">
                            <span class="flex-1 text-center">Subscribe now</span>
                            <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-auto mt-[4px]" />
                        </a>
                        <div class="flex flex-col gap-y-4">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-shield.png" alt="icon-shield" class="w-[24px] h-auto" />
                                <p class="text-xs font-medium text-[#545454]">Risk free: 2 Days Money Back Guarantee</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-shield.png" alt="icon-shield" class="w-[24px] h-auto" />
                                <p class="text-xs font-medium text-[#545454]">No commitment</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col border border-black rounded-2xl py-6 px-6 relative bg-white mt-4 md:mt-0">
                        <p class="bg-[#F36A3B] py-1.5 px-3.5 w-fit text-white font-bold rounded-3xl -top-5 left-6 absolute">20% OFF</p>
                        <p class="mb-3.5 font-black text-4xl">$79.99</p>
                        <p class="font-semibold mb-3">Yearly</p>
                        <p class="font-light text-[#545454] mb-6">Unlimited color pages, billed annually</p>
                        <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                        <div class="flex flex-col gap-y-4 mb-6">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Create, save, download and print mages</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">Dashboard for viewing all your images</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-auto" />
                                <p class="text-sm">2 months free!</p>
                            </div>
                        </div>
                        <a href="" class="button flex flex-row items-center gap-x-4 mb-5">
                            <span class="flex-1 text-center">Subscribe now</span>
                            <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-auto mt-[4px]" />
                        </a>
                        <div class="flex flex-col gap-y-4">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-shield.png" alt="icon-shield" class="w-[24px] h-auto" />
                                <p class="text-xs font-medium text-[#545454]">Risk free: 2 Days Money Back Guarantee</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-shield.png" alt="icon-shield" class="w-[24px] h-auto" />
                                <p class="text-xs font-medium text-[#545454]">No commitment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-12 md:pt-20 pb-8 px-4 md:px-0 px-responsive" id="wall-of-love">
        <p class="font-bold font-sansita text-4xl mb-5">Parent's wall of love</p>
        <p class="text-xl text-[#545454] font-light mb-12">It makes us happy to open the possibilities for kids to color whatever we want them to!</p>
        <!--<div class="gap-5 columns-1 md:columns-3">-->
        <div class="gap-5 columns-1 md:columns-3">
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-1.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Karen B.</p>
                            <p class="text-[#757575] font-sansita">Oct 4, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    I am a grammy that just loves making coloring sheets for my grandchildren. I put them in binders or folders for them so they can have personalized coloring books. So much fun for all of us!  Love it!
                </p>
            </div>
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                    <img src="/person-2.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Sam A.</p>
                            <p class="text-[#757575] font-sansita">Oct 9, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    How neat! I'm always printing coloring pages for my boys - this will be my new go-to!
                </p>
            </div>
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-3.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Maria J.</p>
                            <p class="text-[#757575] font-sansita">Oct 17, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    KidsColoringPage is just the perfect thing for a homeschooling mom who has children with a wide range of interests. Tracking down coloring pages to suit every topic of interest is exhausting and this allows me to just type it in and find something unique and suitable every time. And it's just fun to see what it comes up with! My coloring obsessed daughter is all about it. And I am too!
                </p>
            </div>
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                    <img src="/person-4.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Renu B.</p>
                            <p class="text-[#757575] font-sansita">Nov 1, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    It's fun, useful and amazing tool. My kids love it
                </p>
            </div>
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-5.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Pratik C.</p>
                            <p class="text-[#757575] font-sansita">Nov 3, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    Amazing product just generated an image of teenage mutant ninja turtle for my son. He is going to love it ❤️
                </p>
            </div>
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                    <img src="/person-6.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Laura J.</p>
                            <p class="text-[#757575] font-sansita">Nov 22, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    Simple, yet brilliant. 🌟
                </p>
            </div>
            <div class="inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-7.png" alt="person" class="w-[77px] h-auto" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Donna B.</p>
                            <p class="text-[#757575] font-sansita">Nov 30, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    Really great. What a great way to infuse extra creativity into children’s lives.
                </p>
            </div>
        </div>
    </div>
    <Faqs client:load />
</GuestLayout>