---
import Layout from '../layouts/Layout.astro';
import Rating from "../components/Rating.astro";
---

<Layout title="Homepage">
    <div class="bg-[#FFF2DF] relative">
        <div class="container flex flex-col md:flex-row items-center pt-10 justify-between !mb-16 z-20 relative">
            <a href="/" class="font-wonderbar text-3xl mb-4 md:mb-0">kids coloring page</a>
            <div class="flex flex-col md:flex-row items-center gap-x-8 gap-y-3 md:gap-y-0">
                <a href="">Free coloring pages</a>
                <a href="#wall-of-love">Wall of love</a>
                <a href="#pricing">Pricing</a>
                <a href="" class="button">Start Free</a>
            </div>
        </div>
        <div class="container flex flex-row justify-between items-end relative z-20 px-6 md:px-0">
            <div class="flex flex-col gap-y-5 mb-12 md:mb-16">
                <p class="font-sansita text-4xl md:text-6xl flex flex-row items-center gap-x-3">Introducing AI <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[52px] h-fit" /></p>
                <p class="font-wonderbar text-4xl md:text-6xl"><span class="text-[#6A7DF6]">Kids</span><span class="text-[#347C44]">Coloring</span><span class="text-[#EF60B7]">Page</span></p>
                <p class="font-light text-xl md:text-2xl">Unlock Your Child's Imagination: KidsColoringPage Allows Parents to Inspire and Let Their Kids Color Anything They Imagine.</p>
                <a href="" class="button flex flex-row w-fit items-center gap-x-4">
                    Start using for free
                    <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-fit mt-[4px]" />
                </a>
            </div>
            <img src="/girl-painting.png" alt="girl-painting" class="w-[700px] h-fit aspect-auto hidden md:block" />
        </div>
    </div>
    <div class="container flex flex-col gap-y-6 py-12 md:py-20 px-4 md:px-0">
        <p class="font-sansita font-bold text-4xl items-center leading-10 md:leading-0">
            <span>Use AI</span>
            <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[28px] md:w-[32px] h-fit inline-block" />
            <span>to generate Kids coloring pages in seconds</span>
        </p>
        <p class="text-xl text-[#545454]">Unleash your imagination! KidsColoringPage turns your ideas into coloring pages for your kids to color. From dinosaurs to fairies, let's bring their creativity to life!</p>
        <p class="text-[#545454] font-light text-base"><span class="font-semibold">Not sure what to try?</span> Some example prompts with images are below. The best images incorporate one subject, a setting, and a style. For example: Alebrije turtle at the beach.</p>
        <div class="max-auto">
            <div class="grid gap-4 grid-cols-2 md:grid-cols-3">
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] md:w-[388px] justify-between">
                    <p class="bg-[#F36A3B] py-1.5 md:py-2 px-2 md:px-3 w-fit text-white font-sansita font-medium md:font-bold rounded-3xl text-xs md:text-sm top-2 md:top-3 left-2 md:left-3 absolute">Colored by 5,210 Kids</p>
                    <img src="/image-dino.png" alt="icon-dino" class="w-fit bg-cover" />
                    <div class="flex flex-col gap-y-1 md:gap-y-1.5 items-start">
                        <p class="font-sansita font-bold">Little dino holding a sword</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] md:w-[388px] justify-between">
                    <p class="bg-[#F36A3B] py-1.5 md:py-2 px-2 md:px-3 w-fit text-white font-sansita font-medium md:font-bold rounded-3xl text-xs md:text-sm top-2 md:top-3 left-2 md:left-3 absolute">Colored by 1,210 Kids</p>
                    <img src="/image-doll.png" alt="icon-dino" class="w-fit bg-cover" />
                    <div class="flex flex-col gap-y-1.5 items-start">
                        <p class="font-sansita font-bold">Little dino holding a sword</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] md:w-[388px] justify-between">
                    <p class="bg-[#F36A3B] py-1.5 md:py-2 px-2 md:px-3 w-fit text-white font-sansita font-medium md:font-bold rounded-3xl text-xs md:text-sm top-2 md:top-3 left-2 md:left-3 absolute">Colored by 9,830 Kids</p>
                    <img src="/image-mario.png" alt="icon-dino" class="w-fit bg-cover" />
                    <div class="flex flex-col gap-y-1.5 items-start">
                        <p class="font-sansita font-bold">Little dino holding a sword</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug">Download</button>
                    </div>
                </div>
                <div class="flex flex-col border border-black rounded-2xl p-4 md:p-6 gap-y-4 relative bg-[#F4F3F3] md:w-[388px] justify-between md:hidden">
                    <p class="bg-[#F36A3B] py-1.5 md:py-2 px-2 md:px-3 w-fit text-white font-sansita font-medium md:font-bold rounded-3xl text-xs md:text-sm top-2 md:top-3 left-2 md:left-3 absolute">Colored by 3,670 Kids</p>
                    <img src="/image-lightyear.png" alt="icon-dino" class="w-fit bg-cover" />
                    <div class="flex flex-col gap-y-1.5 items-start">
                        <p class="font-sansita font-bold">Buzz light year with woody</p>
                        <button class="text-[#6A7DF6] font-sansita font-bold border-b border-b-[#6A7DF6] leading-snug">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#F36A3B]">
        <div class="container flex flex-col md:flex-row justify-between gap-y-6 md:gap-y-0 md:gap-x-28 py-10 items-center px-4 md:px-0">
            <div class="flex flex-col md:flex-row flex-1 justify-between gap-y-4 md:gap-y-0 text-center md:text-left">
                <div class="flex flex-col gap-y-2 font-sansita">
                    <p class="font-bold text-5xl text-white flex flex-row gap-x-3 justify-center md:justify-start">
                        <span>#1</span>
                        <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[45px] h-fit" />
                    </p>
                    <p class="text-xl text-[#EBEBEB] font-light">AI coloring page generator</p>
                </div>
                <div class="flex flex-col gap-y-2 font-sansita">
                    <p class="font-bold text-5xl text-white">580,000+</p>
                    <p class="text-xl text-[#EBEBEB] font-light">Coloring sheets created!</p>
                </div>
                <div class="flex flex-col gap-y-2 font-sansita">
                    <p class="font-bold text-5xl text-white">5,000+</p>
                    <p class="text-xl text-[#EBEBEB] font-light">Parents using for their kids</p>
                </div>
            </div>
            <a href="" class="button-2">Start using for free</a>
        </div>
    </div>
    <div class="container py-12 md:py-20 px-4 md:px-0">
        <p class="font-bold font-sansita text-4xl mb-8">How it works</p>
        <div class="max-auto">
            <div class="grid gap-6 grid-cols-2 md:grid-cols-5">
                <div class="flex flex-col gap-y-5 justify-center items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] md:w-[220px] h-[110px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">01</div>
                        <img src="/icon-user.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center">Create an account<br/>for free</p>
                </div>
                <div class="flex flex-col gap-y-5 justify-center items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] md:w-[220px] h-[110px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">02</div>
                        <img src="/icon-creativity.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center">Enter your prompt into the text box</p>
                </div>
                <div class="flex flex-col gap-y-5 justify-center items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] md:w-[220px] h-[110px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">03</div>
                        <img src="/icon-magic-wand.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center">Generate your coloring page</p>
                </div>
                <div class="flex flex-col gap-y-5 justify-center items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] md:w-[220px] h-[110px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">04</div>
                        <img src="/icon-download.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center">Download to save coloring page & print it</p>
                </div>
                <div class="flex flex-col gap-y-5 justify-center items-center">
                    <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] md:w-[220px] h-[110px] md:h-[220px] justify-center items-center relative">
                        <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">05</div>
                        <div class="w-[55px] md:w-[110px] h-fit flex flex-col items-center justify-center">
                            <span class="font-sansita text-[#FFCA28] text-4xl md:text-7xl font-black">5</span>
                            <span class="font-sansita text-black uppercase text-2xl md:text-5xl">Free</span>
                        </div>
                    </div>
                    <p class="font-sansita text-base md:text-xl text-center">Create up to 5 images for free, then upgrade!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#FFF2DF]" id="pricing">
        <div class="container py-12 md:py-20 px-4 md:px-0">
            <p class="font-bold font-sansita text-4xl mb-5">Pricing Plans</p>
            <p class="text-xl text-[#545454] mb-8 font-light">Pick the plan that works for your baby!</p>
            <div class="max-auto">
                <div class="md:grid md:gap-px md:grid-cols-3 flex flex-col gap-y-4">
                    <div class="flex flex-col border border-black rounded-2xl py-6 px-6 relative bg-white md:w-[388px]">
                        <p class="mb-3.5"><span class="font-black text-4xl">$0.90</span> <span class="font-semibold">/ image</span></p>
                        <p class="font-semibold mb-3">Pay as you go</p>
                        <p class="font-light text-[#545454] mb-6">1 Credit for every page you generate</p>
                        <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                        <div class="flex flex-col gap-y-4 mb-6">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Create, save, download and print mages</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Dashboard for viewing all your images</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Access for 1 person</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Buy as you need</p>
                            </div>
                        </div>
                        <a href="" class="button flex flex-row items-center gap-x-4 mb-5">
                            <span class="flex-1 text-center">Start with credit</span>
                            <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-fit mt-[4px]" />
                        </a>
                        <div class="flex flex-row gap-x-2 items-center">
                            <img src="/icon-sheild.png" alt="icon-shield" class="w-[24px] h-fit" />
                            <p class="text-xs font-medium text-[#545454]">Risk free: 14 Days Money Back Guarantee</p>
                        </div>
                    </div>
                    <div class="flex flex-col border border-black rounded-2xl py-6 px-6 relative bg-white md:w-[388px]">
                        <p class="mb-3.5 font-black text-4xl">$6.99</p>
                        <p class="font-semibold mb-3">Monthly</p>
                        <p class="font-light text-[#545454] mb-6">Unlimited color pages, billed monthly</p>
                        <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                        <div class="flex flex-col gap-y-4 mb-6">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Create, save, download and print mages</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Dashboard for viewing all your images</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Access for 1 person</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Buy as you need</p>
                            </div>
                        </div>
                        <a href="" class="button flex flex-row items-center gap-x-4 mb-5">
                            <span class="flex-1 text-center">Subscribe now</span>
                            <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-fit mt-[4px]" />
                        </a>
                        <div class="flex flex-col gap-y-4">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-sheild.png" alt="icon-shield" class="w-[24px] h-fit" />
                                <p class="text-xs font-medium text-[#545454]">Risk free: 14 Days Money Back Guarantee</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-sheild.png" alt="icon-shield" class="w-[24px] h-fit" />
                                <p class="text-xs font-medium text-[#545454]">No commitment</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col border border-black rounded-2xl py-6 px-6 relative bg-white md:w-[388px] mt-4 md:mt-0">
                        <p class="bg-[#F36A3B] py-1.5 px-3.5 w-fit text-white font-bold rounded-3xl -top-5 left-6 absolute">30% OFF</p>
                        <p class="mb-3.5 font-black text-4xl">$58.70</p>
                        <p class="font-semibold mb-3">Yearly</p>
                        <p class="font-light text-[#545454] mb-6">Unlimited color pages, billed annually</p>
                        <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                        <div class="flex flex-col gap-y-4 mb-6">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Create, save, download and print mages</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Dashboard for viewing all your images</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Access for anyone person</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-check-circle.png" alt="icon-check-circle" class="w-[18px] h-fit" />
                                <p class="text-sm">Buy as you need</p>
                            </div>
                        </div>
                        <a href="" class="button flex flex-row items-center gap-x-4 mb-5">
                            <span class="flex-1 text-center">Subscribe now</span>
                            <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-fit mt-[4px]" />
                        </a>
                        <div class="flex flex-col gap-y-4">
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-sheild.png" alt="icon-shield" class="w-[24px] h-fit" />
                                <p class="text-xs font-medium text-[#545454]">Risk free: 14 Days Money Back Guarantee</p>
                            </div>
                            <div class="flex flex-row gap-x-2 items-center">
                                <img src="/icon-sheild.png" alt="icon-shield" class="w-[24px] h-fit" />
                                <p class="text-xs font-medium text-[#545454]">No commitment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-12 md:pt-20 pb-8 px-4 md:px-0" id="wall-of-love">
        <p class="font-bold font-sansita text-4xl mb-5">Parent's wall of love</p>
        <p class="text-xl text-[#545454] font-light mb-12">It makes us happy to open the possibilities for kids to color whatever we want them to!</p>
        <div class="gap-5 columns-1 md:columns-3">
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-1.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Karen B.</p>
                            <p class="text-[#757575] font-sansita">Oct 4, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    I am a grammy that just loves making coloring sheets for my grandchildren. I put them in binders or folders for them so they can have personalized coloring books. So much fun for all of us!  Love it!
                </p>
            </div>
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                    <img src="/person-2.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Sam A.</p>
                            <p class="text-[#757575] font-sansita">Oct 9, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    How neat! I'm always printing coloring pages for my boys - this will be my new go-to!
                </p>
            </div>
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-3.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Maria J.</p>
                            <p class="text-[#757575] font-sansita">Oct 17, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    ColorBliss is just the perfect thing for a homeschooling mom who has children with a wide range of interests. Tracking down coloring pages to suit every topic of interest is exhausting and this allows me to just type it in and find something unique and suitable every time. And it's just fun to see what it comes up with! My coloring obsessed daughter is all about it. And I am too!
                </p>
            </div>
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                    <img src="/person-4.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Renu B.</p>
                            <p class="text-[#757575] font-sansita">Nov 1, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    It's fun, useful and amazing tool. My kids love it
                </p>
            </div>
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-5.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Pratik C.</p>
                            <p class="text-[#757575] font-sansita">Nov 3, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    Amazing product just generated an image of teenage mutant ninja turtle for my son. He is going to love it ❤️
                </p>
            </div>
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                    <img src="/person-6.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Laura J.</p>
                            <p class="text-[#757575] font-sansita">Nov 22, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    Simple, yet brilliant. 🌟
                </p>
            </div>
            <div class="md:w-[388px] inline-block mb-6 md:mb-8 w-full">
                <div class="flex flex-row gap-x-3 mb-5">
                    <img src="/person-7.png" alt="person" class="w-[77px] h-fit" />
                    <div class="flex flex-col gap-y-2">
                        <div>
                            <p class="font-bold font-sansita text-xl">Donna B.</p>
                            <p class="text-[#757575] font-sansita">Nov 30, 2023</p>
                        </div>
                        <Rating />
                    </div>
                </div>
                <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                    Really great. What a great way to infuse extra creativity into children’s lives.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-[#FFF2DF]">
        <div class="container py-12 md:py-20 px-4 md:px-0">
            <p class="font-bold font-sansita text-4xl mb-12">Frequently asked questions</p>
            <div class="flex flex-col">
                <div class="flex flex-col">
                    <div class="mb-6 flex flex-col gap-y-3">
                        <div class="flex flex-row cursor-pointer items-baseline gap-x-6">
                            <p class="font-light text-xl flex-1">What is KidsColorPage.com?</p>
                            <img src="/icon-angle-right.png" alt="icon-angel-right" class="w-[10px] h-fit rotate-90" />
                        </div>
                        <p class="font-light hidden">KidsColoringPage.com is an AI-powered coloring page generator! Perfect for parents, teachers, adults, and Sunday School instructors alike, KidsColoringPage.com transforms your imagination into coloring adventures. Whether you're aiming to entertain your kids, engage your students, or find a moment of peace and creativity for yourself, this tool is designed to cater to all your coloring needs. It's as simple as envisioning what you want on a page – from educational themes to personal relaxation or church activities – KidsColoringPage.com brings it to life. If coloring pages are a staple in your routine, look no further than KidsColoringPage.com to create them effortlessly!</p>
                    </div>
                    <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                </div>
                <div class="flex flex-col">
                    <div class="mb-6 flex flex-col gap-y-3">
                        <div class="flex flex-row cursor-pointer items-baseline gap-x-6">
                            <p class="font-bold text-xl flex-1">Can I use the images I create to make my own coloring books to sell?</p>
                            <img src="/icon-angle-right.png" alt="icon-angel-right" class="w-[10px] h-fit -rotate-90" />
                        </div>
                        <p class="font-light">Yes! You can use the images you create for any purpose, including commercial use.</p>
                    </div>
                    <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                </div>
                <div class="flex flex-col">
                    <div class="mb-6 flex flex-col gap-y-3">
                        <div class="flex flex-row cursor-pointer items-baseline gap-x-6">
                            <p class="font-light text-xl flex-1">Can I request for a refund if my kid(s) didn't like it?</p>
                            <img src="/icon-angle-right.png" alt="icon-angel-right" class="w-[10px] h-fit rotate-90" />
                        </div>
                        <p class="font-light hidden">Yes! We offer a 14-day refund policy. If your kid(s) aren't happy with our coloring pages, please contact us within 14 days of purchase for a full refund.</p>
                    </div>
                    <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                </div>
                <div class="flex flex-col">
                    <div class="mb-6 flex flex-col gap-y-3">
                        <div class="flex flex-row cursor-pointer items-baseline gap-x-6">
                            <p class="font-light text-xl flex-1">How long does it take to refund the amount?</p>
                            <img src="/icon-angle-right.png" alt="icon-angel-right" class="w-[10px] h-fit rotate-90" />
                        </div>
                        <p class="font-light hidden">We process refund requests swiftly! Once you've submitted your request, we aim to process your refund within 24 hours.</p>
                    </div>
                    <div class="border border-dashed border-[#CCCAC7] mb-6 opacity-60" />
                </div>
            </div>
        </div>
    </div>
</Layout>