---
import GuestLayout from '../layouts/GuestLayout.astro';
import { TriggerVerifyAccount } from '../components/AuthFlow/TriggerVerifyAccount';
---

<GuestLayout>
  <div class='container flex'>
    <TriggerVerifyAccount client:load />
  </div>
</GuestLayout>
