---
import GuestLayout from '../layouts/GuestLayout.astro';
import { TriggerVerifyAccount } from '../components/AuthFlow/TriggerVerifyAccount';
---

<GuestLayout
  title='Verify Your Account | KidsColoringPage.com'
  permalink='/verify-account'
  noIndex={true}
>
  <div class='container flex'>
    <TriggerVerifyAccount client:load />
  </div>
</GuestLayout>
