<div class="flex flex-row gap-y-1">
    <img src="/icon-star.png" alt="star" class="w-[20px] h-fit" />
    <img src="/icon-star.png" alt="star" class="w-[20px] h-fit" />
    <img src="/icon-star.png" alt="star" class="w-[20px] h-fit" />
    <img src="/icon-star.png" alt="star" class="w-[20px] h-fit" />
    <img src="/icon-star.png" alt="star" class="w-[20px] h-fit" />
</div>