<div class='flex flex-row gap-y-1'>
  <img src='/icon-star.png' alt='star' class='h-auto w-[20px]' />
  <img src='/icon-star.png' alt='star' class='h-auto w-[20px]' />
  <img src='/icon-star.png' alt='star' class='h-auto w-[20px]' />
  <img src='/icon-star.png' alt='star' class='h-auto w-[20px]' />
  <img src='/icon-star.png' alt='star' class='h-auto w-[20px]' />
</div>
