---
import Rating from "./Rating.astro";
---
<div class="container pt-12 md:pt-20 pb-8 px-4 md:px-0 px-responsive" id="wall-of-love">
    <p class="font-bold font-sansita text-4xl mb-5">Parent's wall of love</p>
    <p class="text-xl text-[#545454] font-light mb-12">It makes us happy to open the possibilities for kids to color whatever we want them to!</p>
    <!--<div class="gap-5 columns-1 md:columns-3">-->
    <div class="gap-5 columns-1 md:columns-3">
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex flex-row gap-x-3 mb-5">
                <img src="/person-1.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Karen B.</p>
                        <p class="text-[#757575] font-sansita">Oct 4, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                I am a grammy that just loves making coloring sheets for my grandchildren. I put them in binders or folders for them so they can have personalized coloring books. So much fun for all of us!  Love it!
            </p>
        </div>
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                <img src="/person-2.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Sam A.</p>
                        <p class="text-[#757575] font-sansita">Oct 9, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                How neat! I'm always printing coloring pages for my boys - this will be my new go-to!
            </p>
        </div>
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex flex-row gap-x-3 mb-5">
                <img src="/person-3.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Maria J.</p>
                        <p class="text-[#757575] font-sansita">Oct 17, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                KidsColoringPage is just the perfect thing for a homeschooling mom who has children with a wide range of interests. Tracking down coloring pages to suit every topic of interest is exhausting and this allows me to just type it in and find something unique and suitable every time. And it's just fun to see what it comes up with! My coloring obsessed daughter is all about it. And I am too!
            </p>
        </div>
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                <img src="/person-4.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Renu B.</p>
                        <p class="text-[#757575] font-sansita">Nov 1, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                It's fun, useful and amazing tool. My kids love it
            </p>
        </div>
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex flex-row gap-x-3 mb-5">
                <img src="/person-5.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Pratik C.</p>
                        <p class="text-[#757575] font-sansita">Nov 3, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                Amazing product just generated an image of teenage mutant ninja turtle for my son. He is going to love it ❤️
            </p>
        </div>
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex md:flex-row gap-x-3 mb-5 flex-row-reverse text-right md:text-left">
                <img src="/person-6.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Laura J.</p>
                        <p class="text-[#757575] font-sansita">Nov 22, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                Simple, yet brilliant. 🌟
            </p>
        </div>
        <div class="inline-block mb-6 md:mb-8 w-full">
            <div class="flex flex-row gap-x-3 mb-5">
                <img src="/person-7.png" alt="person" class="w-[77px] h-auto" />
                <div class="flex flex-col gap-y-2">
                    <div>
                        <p class="font-bold font-sansita text-xl">Donna B.</p>
                        <p class="text-[#757575] font-sansita">Nov 30, 2023</p>
                    </div>
                    <Rating />
                </div>
            </div>
            <p class="border border-[#DFDFDF] rounded-xl text-[#545454] font-light text-lg px-6 py-4 leading-8">
                Really great. What a great way to infuse extra creativity into children’s lives.
            </p>
        </div>
    </div>
</div>