---
import {hasLoginDialog} from "../../stores/page";
---
<div class="bg-[#FFF2DF]">
    <div class="container py-8 md:py-12 px-4 md:px-0 px-responsive">
        <div class="flex justify-between items-start mb-6 md:mb-0 mb-6-responsive">
            <div class="flex flex-col gap-y-5">
                <p class="font-sansita text-3xl sm:text-4xl md:text-6xl flex flex-row items-center gap-x-3">Let's create <img src="/icon-magic-wand.png" alt="icon-magic-wand" class="w-[52px] h-auto"/></p>
                <p class="font-wonderbar text-3xl sm:text-4xl md:text-6xl lg:text-6xl xl:text-6xl !leading-tight">
                    <span class="text-[#6A7DF6]">Kids</span>
                    <span class="text-[#347C44]">Coloring</span>
                    <span class="text-[#EF60B7]">Page</span>
                </p>
            </div>
            <div>
                <div class="rounded-full flex flex-col border border-black w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center gap-y-1.5 md:gap-y-2.5 text-center">
                    <p class="font-sansita text-[#FFCA28] text-3xl md:text-7xl"><span class="font-black">5</span><span>/5</span></p>
                    <p class="font-sansita text-xs md:text-xl">Free credits<br/>remaining</p>
                </div>
            </div>
        </div>
        <div class="font-light mb-5">
            <p class="text-2xl mb-2">Describe the theme or concept for your coloring sheet. </p>
            <p class="text-lg">For example, you might request 'A serene landscape with a majestic waterfall' or 'A fantastical scene featuring unicorns and dragons</p>
        </div>
        <div class="flex flex-col md:flex-row gap-x-4 gap-y-2.5 md:gap-y-0">
            <label for="prompt" class="flex flex-1">
                <input type="text" autocomplete="off" placeholder="Enter your prompt here" id="prompt" class="text-black placeholder-[#999999] outline-none py-4 px-8 border border-black rounded-full focus:text-black focus:placeholder-black w-full" />
            </label>
            <button class="button flex flex-row w-fit items-center justify-center gap-x-4 relative min-w-full md:min-w-[285px]">
                Generate color sheet
                <img src="/icon-angle-right.png" alt="icon-angle-right" class="w-[10px] h-auto mt-[4px] absolute right-4"/>
            </button>
        </div>
    </div>
</div>