<div class="container py-12 md:py-20 px-4 md:px-0 px-responsive">
    <p class="font-bold font-sansita text-4xl mb-8">How it works</p>
    <div class="max-auto">
        <div class="flex flex-row gap-x-6 gap-y-6 flex-wrap justify-evenly">
            <div class="flex flex-col gap-y-5 items-center">
                <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                    <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">01</div>
                    <img src="/icon-creativity.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                </div>
                <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Enter your prompt into the text box</p>
            </div>
            <div class="flex flex-col gap-y-5 items-center">
                <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                    <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">02</div>
                    <img src="/icon-magic-wand.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                </div>
                <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Generate your coloring page</p>
            </div>
            <div class="flex flex-col gap-y-5 items-center">
                <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                    <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">03</div>
                    <img src="/icon-download.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                </div>
                <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Download to save coloring page & print it</p>
            </div>
            <div class="flex flex-col gap-y-5 items-center">
                <div class="border border-black rounded-full bg-[#FFF3DF] flex flex-col w-[110px] h-[110px] md:w-[220px] md:h-[220px] justify-center items-center relative">
                    <div class="absolute border border-black rounded-full font-sansita font-bold text-sm md:text-xl w-[28px] md:w-[56px] h-[28px] md:h-[56px] top-0 left-0 bg-white flex items-center justify-center">04</div>
                    <img src="/icon-repeat.png" alt="icon-user" class="w-[55px] md:w-[110px] h-fit" />
                </div>
                <p class="font-sansita text-base md:text-xl text-center w-[110px] md:w-[220px]">Repeat everyday and let your kids color the world</p>
            </div>
        </div>
    </div>
</div>