---
import type { Props as LayoutProps } from './Layout.astro';
import Layout from './Layout.astro';

export interface Props extends LayoutProps {
  frontmatter: {
    title?: string;
    description?: string;
    permalink?: string;
    noIndex?: boolean;
    publishedOn?: string;
    postImage?: string;
  };
}

const { frontmatter = {} } = Astro.props;
---

<Layout {...frontmatter} noIndex={false}>
  <div class='bg-[#FFF2DF]'>
    <div class='px-responsive post container px-4 py-8 md:px-0 md:py-12'>
      <slot />
    </div>
  </div>
</Layout>
